#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
    color: #55251D;
    text-align: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: lightblue;
}
header{
    background-color: tan;
}
nav a:hover{
    color: whitesmoke;
    background-color: darkcyan;
}
.book, .join{
    text-decoration: none;
    color: whitesmoke;
    background-color: #115a077e;
}
.book:hover, .join:hover{
    background-color: lightgrey;
}
#background{
    background-color: lightgray;
}
.msg{
    color:rgb(226, 241, 255);
    background-color: rgba(109, 52, 5, 0.623);
}
footer{
    background-color: tan;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer a{
    font-size: 1.2em;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}  