div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    background-color: pink;
}

div section:nth-last-of-type(2) {
    background-color: grey;
}

@media screen and (min-width: 582px) {
    div {
        grid-template-columns: 1fr 1fr;
        background-color: seagreen;
    }
}

@media screen and (min-width: 803px) {
    div {
        grid-template-columns: 1fr;
        background-color: blue;
    }
}