* {box-sizing:border-box}

body {
  background-color: black;
}

header{
  background-color: tan;
  display: grid;
  grid-template-columns: 150px auto;
}

nav a {
  text-decoration: none;
  color: #55251D;
  text-align: center;
  padding: 35px;
  font-weight: 700;
}

nav a:hover{
  color: whitesmoke;
  background-color: rgb(107, 58, 1);
}

nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
#background_image {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  width: 100%;
}

.text-stuff {
  position: relative;
}

.text-box {
  position: relative;
  width: 100%;
  height: 1500px;
  background-color: rgba(0, 0, 0, 0.733);
  border: 1px solid #ccc;
  padding: 25px;
  z-index: 1;
}

.text {
  display: grid;
  grid-template-columns: 1fr 250px 1fr 250px 1fr 250px 1fr 250px 1fr;
  grid-template-rows: 400px 1fr 400px 1fr 400px 1fr 400px 1fr;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #f2f2f2;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
}

.star-wars {
  grid-column: 2/3;
}

.fantastic-beasts {
  grid-column: 4/5;
}

.tron {
  grid-column: 6/7;
}

.film-cover {
  width: 250px;
}

.film-title {
  font-size: 12pt;
  text-align: center;
}

.film-composer {
  font-size: 8pt;
  text-align: center;
}

footer{
  background-color: tan;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a{
  font-size: 1.2em;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen {
  nav, footer {
    flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  nav, footer {
    flex-direction: column;
  }
  footer {
    margin-top: 25px;
  }
}